@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-color: #151B29;
    --sidebar-color: #1C2431;
    --primary-color: #;
    --toggle-color: #;
    --text-color: #EC994B;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    height: 100%;
    background: var(--body-color);
} 
/* =============== Sidebar ============= */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16vw;
    background: var(--sidebar-color);
    transition: var(--tran-04);
    z-index: 2;
}
.sidebar.close{
    width: 6vw;
}


.sidebar.close button{
    display: flex;
    flex-direction: column;
    width: 2vw;
    height: 2vw;
    border: 0;
    background: transparent;
    gap: .3vw;
    cursor: pointer;
    margin: 2vw 2vw 1.2vw;
    opacity: 1;
    transition: none;
}
.sidebar button div{
    background: #D9D9D9;
    height: .2vw;
    width: 100%;
    border-radius: 1vw;
    transition: all .5s;
}
.sidebar button{
    opacity: 0;
}
.sidebar .text{
    font-size: 1.2vw;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 1vw;
}
.sidebar.close .text{
    opacity: 0;
    transition: var(--tran-04);
    display: none;
}
.sidebar.close .image{
    display: none;
}
.sidebar .image{
    min-width: 2vw;
    display: flex;
    align-items: center;
}
.sidebar .image-text img{
    width: 4vw;
    margin: 1vw;
    cursor: pointer;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display:flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.sidebar ul{
    margin-top: 1.5vw;
    padding: 0 1vw;
    align-items: center;
}
.sidebar li{
    margin-top: 0.2vw;
    height: 4vw;
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 2vw;    
    white-space: nowrap;
}
.sidebar li:hover, .sidebar li.active{
    background: #151B29;
    width: 100%;
    height: 4.2vw;
    border-radius: 2vw;
    transition: var(--tran-04);
}
.nav-link a img{
    height: 1.5vw;
    margin-left: 1.4vw;
}
.nav-link a span{
    font-size: 1.2vw;
    margin-left: 2vw;
    transition: var(--tran-04);
}
.menu-link.close li a span{
    opacity: 0;
    transition: var(--tran-04);
    display: none;
}
.nav-link a{
    text-decoration: none;
    color: #D9D9D9;
}
#top-bar{
    background: #1C2431;
    height: 4.4vw;
}
#top-bar button{
    float: right;
}
#user-login{
    width: 3.4vw;    
    float: right;
    margin: 0.6vw 2vw 0.6vw 0;
}
#user-login:hover{
    cursor: pointer;
}
#sing-out{
    float:right;
    position: relative;
    top: 4vw;
    right: -3.8vw;
    background: #1C2431;
    width: 12vw;
    height: 4vw;
    text-align: center;
    padding: 1.1vw 0.5vw;
    border-radius: 1.4vw;
    font-size: 1.2vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, top .5s;
}
#sing-out span{
    padding: 0.6vw;
    justify-content: center;
}
#sing-out a{
    text-decoration: none;
    color: #D9D9D9;
}
#sing-out span:hover{
    background: #203055;
    border-radius: 1vw;
    cursor: pointer;
}
#sing-out::before{
    content: '';
    position: absolute;
    border: 1vw solid;
    border-color: #1C2431 transparent transparent;
    transform: rotate(180deg);
    top: -1.9vw;
    right: 1vw;
}
#sing-out.pop{
    opacity: 1;
    visibility: visible;
    top: 5.4vw;
}
#clientes, #servicios, #movimientos {
    position: relative;
    height: 100%;
    left: 6vw;
    width: calc(100% - 6vw);
    transition: var(--tran-05); 
}
#clientes .text, #servicios .text, #movimientos .text{
    color: #D9D9D9;
    font-size: 2vw;
    margin: 3vw 3vw 2vw;
}
.btn-warning{
    background-color: #EC994B;
    border: none;
    border-radius: 1.3vw;
    padding: 0.8vw 1.8vw;
    font-size: 1.2vw;
    margin: 1vw;
    position: absolute;
    left: 2vw;
    font-weight: 600;
}
.btn-warning a{
    text-decoration: none;
    color: #151B29;
}
.tbody .btn-primary{
    background-color: #1572A0;
    border: none;
    border-radius: .8vw;
    width: 2.5vw;
    height: 2.5vw;    
    margin-right: .5vw;
    padding: 0;
}
.table .btn-danger{
    background-color: #E94560;
    border: none;
    border-radius: .8vw;
    width: 2.5vw;
    height: 2.5vw;
    color: #151B29;
    margin-right: -1vw;
    padding: 0;
}
.btn-primary img, .btn-danger img{
    width: 1.2vw;
    height: 1.2vw;
}
#clientes .table, #movimientos .table, #servicios .table{
    position: relative;
    height: 100%;
    width: calc(100% - 6vw);
    top: 7vw; 
    left: 3vw;
    color: #D9D9D9;   
    border-collapse: collapse;
}
.acciones{
    opacity: 0;
}
.table th{
    padding: 0 1.8vw 1vw;
}
.table td{
    padding: 1.2vw 1.5vw 0;
    height: 4vw;
    font-size: 1.1vw;
}
#servicios .table td{
    padding: 1.2vw 1.5vw .6vw;
}
#servicios .button-table{
    padding-top: 1.3vw !important;
}
#clientes .button-table{
    padding-top: .7vw !important;
}
.btn-primary:hover, .btn-danger:hover, .btn-warning:hover{
    cursor: pointer;
}
/* Modal Eliminar */

#exampleModal .modal-dialog{
    width: 45vw;
}
#exampleModal .modal-content{
    background: #1C2431;
    border-radius: 1.5vw;
    text-align: center;    
}
#exampleModal .modal-header{
    display: inline-block;
    padding-top: 2vw;
}
#exampleModal .modal-header h5{
    font-weight: bold;
    font-size: 1.6vw;
    color: #D9D9D9;
}
#exampleModal .modal-body{
    color: #EC994B;
    font-size: 1.3vw;
    font-weight: 600;
}
#exampleModal .modal-footer button{
    margin: 1vw;
    border-radius: 2vw;
    font-size: 1.1vw;
}
#exampleModal .modal-footer .btn-danger{
    color: #151B29;
    padding: .8vw 1.3vw;
}
#exampleModal .modal-footer .btn-secondary{
    padding: .8vw 1.3vw;
}

/* Modal Editar */

#form .modal-dialog{
    width: 28vw;
}
#form .modal-content{
    background: #1C2431;
}
#form .modal-body{
    text-align: center;
}
#form .modal-body p{
    margin: .6vw .5vw .2vw;
    font-size: 1vw;
    font-weight: 600;
    color: #D9D9D9;
    text-align: left;
    margin-left: 4.5vw;
}
#form .modal-header{
    display: inline-block;
    text-align: center;
}
#form .modal-header h5{
    font-weight: bold;
    font-size: 1.4vw;
    color: #D9D9D9;
}
#form .modal-body input{
    width: 17vw;
    padding: .3vw .8vw;
    font-size: 1vw;
}
.form-control{
    display: inline-block;
    background: #CDAC81;
    border: none;
    border-radius: 1vw;
    margin: .2vw;
}
#form .btn-secondary{
    font-size: 1.1vw;
    border-radius: 1.5vw;
    padding: .5vw 1vw;
    margin: 0 1vw .5vw;
}
#form #cancel{
    background: #575b64;
    border-color: #575b64;
}